# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
lib/
out/
deob/
.idea/
/target/
/cache/
src/com/p3achb0t/api/UserDetails.kt
#app/
gamepacks/
/app/gamepack/
/app/user/accounts.json
/app/gamepack-189-injected.jar
/.logs/
